/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  padding: 5px;
  color: #403f3f;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  background: #ea4c89;
}

a:visited {
  text-decoration: none;
}

form {
  padding: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

form input{
  display: block;
  border: 1px solid grey;
  min-height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

form input[type=submit] {
  font-size: 14px;
  padding-top: 10px;
  border: 1px solid black;
  width: 210px;
}

form input[type=submit]:hover {
  width: 210px;
  text-decoration: none;
}

form input[type=checkbox]{
  display: inline;
  width: auto;
  margin-top: 20px;
}

form select {
  display: block;
  border: 1px solid grey;
  font-size: 16px;
  min-height: 20px;
  width: 200px;
  margin-top: 5px;
  padding: 5px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  font-size: 15px;
  height: 45px;
  margin: 20px 30px 0 30px;
  box-shadow: inset 0px -1px 0px #f3f3f4;
}

nav a {
  padding: 15px;
}

.content {
  margin-top: 40px;
  margin-left: 40px;
}

.content a {
  padding: 0px;
  margin-right: 15px;
  color: #403f3f;
  text-decoration: none;
}

.content p > a {
  margin-right: 0px;
}

.content a:hover {
  color: #ffffff;
  background: #ea4c89;
}

.logged-as {
  float: right;
}

.underline {
  font-weight: 900;
  border-bottom: 5px solid #ea4c89;
}

.welcome {
  margin-left: -40px;
  font-size: 80px;
  font-weight: lighter;
}